outputs/
media_vis/
pretrained_models/
wandb/
data/
*.log
__pycache__/
*.pyc
*.png
media_vis/
shan-myout/
weights/
vader_baselines_ckpts/
*.gif
*.jpg
*.mp4
checkpoint/
kinetics_middle_img/
*.log
config/v2
